@keyframes marquee {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-50%);
  }
}

@keyframes scale-in {
  from {
    opacity: 0;
    transform: scale(0.95);
  }
  to {
    opacity: 1;
    transform: scale(1);
  }
}

.animate-marquee {
  animation: marquee 30s linear infinite;
}

@media (max-width: 640px) {
  .animate-marquee {
    animation: marquee 20s linear infinite;
  }
}
